<div class="form-group">
  <div class="input-group">
      <span class="input-group-addon m-2">Table : </span>
          <select name="comp_select" class="selectpicker form-control custom-select" id="select_table">
            {% for element in tables %}
            <option value="{{element}}" {% if element == selected_table %}selected{% endif %} >{{ element }}</option>
            {% endfor %}
          </select>
  </div>
  <button type="submit" class="btn btn-outline-success m-2" name="change_table">Go</button>
</div>
<script>
    var element = document.getElementById("select_table");
    element.value = "{{selected_table}}";
  </script>
