{% set active_page = "advanced_search" %}
{% extends 'layout.html' %} 
{% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h2">Search for listing</h2>
  </div>
  <form action="/advancedsearch" method="post" class="form-group">
  {{ form.csrf_token }}
  {{ form.city.label }} {{ form.city(class_='form-control custom-select') }} 
  {{ form.property_type.label }} {{ form.property_type(class_='form-control custom-select') }} 
  {{ form.number_of_guests.label }} {{ form.number_of_guests(class_='form-control') }} 
  {{ form.available_from.label }} {{ form.available_from(class_='form-control') }} 
  {{ form.available_to.label }} {{ form.available_to(class_='form-control') }} 
  {{ form.price_max.label }} {{ form.price_max(class_='form-control') }} 
  <input type="submit" class="btn btn-outline-success mt-2" value="Search !"/>
  </form>
  
  <script type="text/javascript">
  $( function() {
    $("#available_from").datepicker();
    $("#available_to").datepicker();
  } );
  </script>

  <h2>Query results :</h2>
  {% include "includes/_table.html" %}
</main>
{% endblock body %}
