{% set active_page = "table" %}
{% extends 'layout.html' %} 
{% block body %}
{% set active_page = "table" %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
      >
        <h1 class="h1">Tables</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group mr-2">
            {% include 'includes/_select_table.html' %}
          </div>
        </div>
      </div>
      <h2>{{selected_table}}</h2>
      {% include "includes/_table.html" %}
    </div>
    </main>
{% endblock body %}
