{% set active_page = "insert" %}
{% import 'includes/_form.html' as forms %}
{% extends 'layout.html' %} {% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h1">Insert a listing:</h1>
  </div>
  <form class="text-center" method=post>
    <div class="form-group">
  {{ forms.quick_form(form) }}
  <input type="submit" class="btn btn-success" name="query" value="Insert !" onclick="correct_insert()"/>
  </form>

  <script>
    var element = document.getElementById("select_table");
    element.value = "{{selected_table}}";
    function correct_insert() {
      alert("You have successfully insert into the Database !");
    }
  </script>
</main>
{% endblock body %}