{% set active_page = "query" %} {% extends 'layout.html' %} {% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <form action="\query" method="post" class="form-inline">
        <div class="form-group m-2">
          {{ form.select_query.label(class_='m-2')}}
          {{form.select_query(class_='form-control custom-select')}}
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary" value="Go !"/>
        </div> 
      </div>
    </form>

    <h3>{{query['name']}}</h3>
    <p>{{query['text']}}</p>

    <h2>Query results</h2>
      {% include "includes/_table.html" %}
  </div>
</main>
{% endblock body %}
