{% extends 'layout.html' %} {% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h1">Search</h1>
  </div>
  {% include 'includes/_select_table.html' %}
  <br>
  <form method="POST" action="/search" class="form-group">
    {{ form.csrf_token }}
    {{ form.query.label }} {{ form.query(size=100) }}
    <input type="submit" class='btn btn-primary' value="Go">
</form>
</main>
{% endblock body %}
