{% extends 'layout.html' %} {% block body %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h1 class="h1">Search</h1>
  </div>
  <form class="form-inline" method="POST" action="{{ url_for('search') }}">
    <div class="form-group">
      <div class="input-group">
        <span class="input-group-addon">Table : </span>
        <select
          name="comp_select"
          class="selectpicker form-control custom-select"
          id="select_table"
        >
          {% for element in tables %}
          <option value="{{ element }}">{{ element }}</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-default">Go</button>
    </div>
  </form>
  <br />
  <form method="POST" action="/search" class="form-group">
    {{ form.csrf_token }}
    {{ form.select_col.label }} {{ form.select_col() }} {{ form.query.label }}
    {{ form.query(size=100) }}
    <input type="submit" class="btn btn-primary" value="Go" />
  </form>

  <script>
    var element = document.getElementById("select_table");
    element.value = "{{selected_table}}";
  </script>

  <h2>Query results :</h2>
  {% include "includes/_table.html" %}
</main>
{% endblock body %}
